#onewager_team_name {
  margin-left: 10px;
  margin-right: 0;
}

#onewager_header_odds {
  position: absolute;
  right: 35px;
}
#onewager_remove {
  position: absolute;
  right: 10px;
  font-weight: 400;
}

#onewager_remove:hover {
  cursor: pointer;
}
